*.pyc
.idea/
.ipynb_checkpoints/
**/__pycache__/
smp_manifold_learning.egg-info/
smp_manifold_learning/data/augmented/*.npy
smp_manifold_learning/data/synthetic/**/*.npy
smp_manifold_learning/plot/**/*.pkl
smp_manifold_learning/plot/**/*.npz
smp_manifold_learning/plot/**/*.png
smp_manifold_learning/plot/**/*.txt
smp_manifold_learning/plot/**/*.pth
smp_manifold_learning/plot/**/*.html
smp_manifold_learning/scripts/**/*.pth
smp_manifold_learning/scripts/experiment_runs/
smp_manifold_learning/scripts/recon_data/
smp_manifold_learning/scripts/plots/
smp_manifold_learning/sklearn/data/
